/**
 * 所有 .rp- 开头的 class 均用于 react render 的占位，基本不添加有意义的样式
 * 后期 react 版本可能会取消这种注入方式，到时候方便修改
 */


@import "compass";
@import "base/variables";
@import "base/mixin";
@import "base/normalize";
@import "base/preset";

body {
    font: normal #{$font-size}/#{$line-hight} Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
    color: #91979a;
    background-color: #fff;
}

.page {
    position: relative;
    min-height: 100%;
	opacity: 0;

	&.is-loaded {
		opacity: 1;
		transition: opacity .5s ease-out;
	}

    &__poster {
        min-height: 400px;

        img {
            display: block;
            width: 100%;
        }

        .m-carousel .img-wrap {
            overflow-y: hidden;
        }
    }

    &__header {
        position: relative;
        z-index: 2;
        margin-top: -186px;
    }

    &__main {
        position: relative;
        z-index: 3;
        margin-top: -2px;
    }

    &__footer {
        height: 89px;
        background: image-url('footer-bg.png', false, false) no-repeat;
    }
}

.header {
    height: 294px;
    padding-top: 204px;
    background: image-url('tab-bg.png', false, false) no-repeat bottom;

    &__praise {
        position: absolute;
        top: 0;
        right: 20px;
    }

    &__nav {
        margin-left: 158px;
    }
}


.main {
    min-height: 600px;
    background-color: #fff;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 470px;

    > a {
        display: flex;
        padding: 8px 16px;
        font-size: 30px;
        font-weight: bold;
        color: #0261a6;

        &.is-active {
            color: #fff;
            text-shadow: 0 -10px 40px #65efff, 40px 0 60px #65efff, 0 10px 40px #65efff, -40px 0 60px #65efff,
                         60px 0 60px #65efff, -60px 0 60px #65efff;
        }
    }
}

.open-newsapp{
    position: fixed;
    left: 50%; bottom: 0;
    z-index: 4;
    width: 750px; height: 128px;
    margin-left: -375px;
    background: image-url('open.png', false, false) 0 0 no-repeat;
    &.hide{
        display: none;
    }
    >i{
        position: absolute;
        top: 0; right: 0;
        width: 50px; height: 50px;
    }
}

///
.loading-ph {
    position: relative;
    height: 150px;

    i {
        width: 22px;
        height: 22px;
        opacity: 0;
        border: 3px solid #333;
        border-radius: 50%;
        @include self-center(22px, 22px);
        will-change: transform;
        animation: pulsate 1s ease-out infinite;

    }
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        transform: scale(1.2);
        opacity: 0
    }
}

.mock-img {
    background: center no-repeat;

    &.is-waiting {
        background-image: image-url('placeholder.png', false, false);
    }

    &.is-loaded {
        animation: fadeIn .5s ease-out;
        background-size: cover;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}



@import "widgets/praise";
@import "widgets/swiper";