.m-carousel{
  position: relative;
  width: 750px; height: 100%;
  
  .inner{
    display: -webkit-box;
    height: 100%;
  }
  .img-wrap{
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    height: 100%;
    width: 750px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  img{
    max-width: 750px;
  }
}