//
// Mixin
// -------------------------------

@mixin font-size-dpr($fs) {
	font-size: $fs/2;
	[data-dpr="2"] & {
		font-size: $fs;
	}
}

@mixin font-size-base($widths: (320px, 360px, 375px, 414px, 750px)) {
    $fs: 20/16*100%;
    $mw: nth($widths, -1);
    @each $w in $widths {
        @media (min-width: $w) {
            html {
                font-size: $w/$mw*$fs;
            }
        }
    }
}

@mixin fix-break-word {
	background: transparent url(about:blank);
	display: block;
	word-break: break-all;
}

@mixin flex-between-center {
    @include flexbox((
        display: flex,
        justify-content: space-between,
        align-items: center
    ));
}

@mixin flex-between-center-old {
    @include flexbox((
        display: box,
        box-pack: justify,
        box-align: center
    ), $version: 1);
}


@function sImage($path, $only-path: false, $cache-buster: false) {
	@return image-url($path, $only-path, $cache-buster);
}


@mixin icon($path) {
    //$url: image-url($path, true, false);
	display: inline-block;
	width: image-width($path);
	height: image-height($path);
	background: inline-image('#{$path}') no-repeat;
}


@mixin h-center($w) {
margin-left: auto;
margin-right: auto;
width: $w;
}


@mixin self-center($w, $h) {
	position: absolute;
	left: 50%;
	margin-left: -$w/2;
	top: 50%;
	margin-top: -$h/2;
}


@mixin placeholder($c, $c-focus: false) {
	&:-moz-placeholder {
		color: $c;
	}
	&:-ms-input-placeholder {
		color: $c;
	}
	&::-webkit-input-placeholder {
		color: $c;
	}

	@if $c-focus {
		&:focus:-moz-placeholder {
			color: $c-focus;
		}
		&:focus:-ms-input-placeholder {
			color: $c-focus;
		}
		&:focus::-webkit-input-placeholder {
			color: $c-focus;
		}
	}
}


@mixin transition-properties($p-list, $d: $duration-cmn, $e: $easing-cmn ) {
	$vars: ();
	@each $p in $p-list {
		$vars:append($vars, $p $d $e, comma);
	}
	@include transition($vars);
}