// Colors
// ----------------------------

$c-red-cherry: #c1252e;

$c-gray: #828890;
$c-gray-light: #b0b2b3;

$c-black: #000;
$c-white: #fff;


$c-mute: #888;
$c-default: #676a6c;
$c-primary: #23c6c8;
$c-info: #1c84c6;
$c-success: #1ab394;
$c-warning: #f8ac59;
$c-danger: #ed5565;



// Font
// -----------------------------
$font-color: $c-black;
$font-size: 1.4rem;
$line-hight: 1.4;
$f-simsun: 'SimSun';
$f-simhei: 'SimHei';
$f-yahei: 'Microsoft YaHei';
$f-hiragino: 'hiragino sans gb';

// Frames
// -----------------------------
$h-header: 60px;
$w-sidebar: 220px;
$w-sidebar-mini: 46px;
$h-footer: 48px;