@import "compass";

$sp-praise-layout:smart;
$sp-praise-sprite-dimensions: true;
@import "sp-praise/*.png";


.main-praise {
    margin-top: -55px;
    width: 180px;
    text-align: center;

    &__gesture {
        $duration: .7s;

        position: relative;
        display: inline-block;
        @include sp-praise-sprite(area);
        -webkit-mask-image:image-url('mask.png', false, false);

        &__flicker {
            position: absolute;
            z-index: 2;
            left: 69px;
            top: 0;
            @include sp-praise-sprite(flicker);
            will-change: transform;
            transform: scale(.3);
            opacity: 0;
        }

        &__thumb {
            position: absolute;
            bottom: -10px;
            left: -45px;
            @include sp-praise-sprite(hand);
        }

        .is-active &__thumb {
            animation: stretch $duration linear forwards;
        }

        &__flicker.is-active {  // for bug in android 4.1
            animation: flick $duration linear forwards;
        }
    }

    &__amount {
        color: #afadad;
        font-size: 26px;
    }
}

@keyframes stretch {
    60%, 100% {
        transform: translate3d(14px, 0, 0);
    }
}

@keyframes flick {
    59% {
        opacity: 0;
        transform: scale(0);
    }
    60% {
        opacity: 0;
        transform: scale(.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}